[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/GordiyevichS
[access "refs/for/refs/*"]
	read = group user/GordiyevichS
	push = group user/GordiyevichS
	label-Code-Review = -2..+2 group user/GordiyevichS
	label-Verified = -1..+1 group user/GordiyevichS
	rebase = group user/GordiyevichS
	removeReviewer = group user/GordiyevichS
	submit = group user/GordiyevichS
[access "refs/heads/*"]
	read = group user/GordiyevichS
	create = group user/GordiyevichS
	push = +force group user/GordiyevichS
	pushMerge = group user/GordiyevichS
[access "refs/tags/*"]
	push = +force group user/GordiyevichS
	pushTag = group user/GordiyevichS
	pushSignedTag = group user/GordiyevichS
